div(class='social social--right')
  div(class='social__links social__links--right')
    a(class='social__link' href='https://soundcloud.com/death_ritual' target='_blank') soundcloud
    a(class='social__link' href='https://www.youtube.com/channel/UCrvpG3h4f6ScHzenfhhSt9Q' target='_blank') youtube
    button(class='social__link downloadMusicJs') download
  button(class='social__button' type='button')
    span(class='social__icon')
    span() L
    span() i
    span() s
    span() t
    span() e
    span() n