.about {
  @extend .page;
  &__container {
    @extend .page__container;
    width: 50%;
    @include tabletL {
      width: 70%;
    }
  }
  &__title {
    @extend .title;
  }
  &__descr {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  &__img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
  }
  &__img {
    width: 28vw;
    height: 100%;
    position: absolute;
    left: -2.5% !important;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    @include tabletM {
      display: none;
    }
  }
}