extends layouts/default

block variables
  - const title = 'The Death Ritual - about page'

block content
  div(class='about')
    main(class='about__bio')
      h1(class='about__title') THE DEATH RITUAL
      p(class='about__descr') We came from basements of ruined citys, from bleeding streets, to present you our vision of life and our creation.
      p(class='about__descr') We try to experiment in different styles of music. Our lyrics are the tears that we collect from cemeteries of broken hopes and turn it to stories, that we present to you. We try to make our music diverse and unique, but on this hard way we need your help.
      p(class='about__descr') So, if you like our music we appreciate you to support us. As you know Band without Fans means nothing.
    div(class='about__img-wrapper')
      div(class='about__img' style='background-image:url("./assets/img/about/3.png")')