extends layouts/default

block variables
  - const title = 'The Death Ritual - Audio'

block content
  div(class='audio')
    div(class='audio__container')
      h1(class='audio__title') Audio
      div(class='audio__content')
        div(class='audio__block')
          audio(class='audio__control' controls='' preload='auto' tabindex='0' src='./assets/music/Ritual.mp3')
<<<<<<< HEAD
            source(src='./assets/music/ritual.mp3')
=======
            source(src='./assets/music/ritual.mp3')
>>>>>>> 49add54a7fd4849137929fffd083baff41b47b1b
