extends layouts/default

block variables
  - const title = 'The Death Ritual - Audio'

block content
  div(class='audio')
    div(class='audio__wrapper')
      h1(class='audio__title') Audio
      div(class='audio__container')
