extends layouts/default

block variables
  - const title = 'The Death Ritual - Contacts'

block content
  div(class='contacts')
    div(class='contacts__container')
      main(class='contacts__main')
        h1(class='contacts__title') Contacts
        p(class='contacts__offer') Fill free write to us!
      div(class='contacts__info')
        div(class='contacts__info-block')
          h2(class='contacts__info-title') all questions to
          a(class='contacts__email' href='mailto:thedeathritual@gmail.com') thedeathritual@gmail.com