extends layouts/default

block variables
  - const title = 'The Death Ritual - Contacts'
  - const description = 'The Death Ritual | Contacts Page | email - thedeathritual@gmail.com' 

block content
  div(class='contacts')
    div(class='contacts__container')
      main(class='contacts__main')
        h1(class='contacts__title') Contacts
        p(class='contacts__offer') feel free to contact us anytime!
      div(class='contacts__info')
        div(class='contacts__info-block')
          h2(class='contacts__info-title') send your questions to
          a(class='contacts__email' href='mailto:thedeathritual@gmail.com') thedeathritual@gmail.com