extends layouts/default

block variables
  - const title = 'The Death Ritual - Gallery'
  -
    const gallery = [
      {
        src: '../assets/img/gallery/1.0.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/1_tn.jpg',
        alt: 'Sai in old mask',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/13.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/13_tn.jpg',
        alt: 'hands 13',
        class: ''
      },
      {
        src: '../assets/img/gallery/200.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/200_tn.jpg',
        alt: 'Sai and Zombie',
        class: 'gallery__block--h'
      },
      {
        src: '../assets/img/gallery/greyLogo.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/greyLogo_tn.jpg',
        alt: 'grey Logo',
        class: 'gallery__block--h'
      },
      {
        src: '../assets/img/gallery/BW2.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/BW2_tn.jpg',
        alt: 'black and white photo',
        class: ''
      },
      {
        src: '../assets/img/gallery/forest.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/forest_tn.jpg',
        alt: 'Sai in the forest',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/grey.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/grey_tn.jpg',
        alt: 'grey hair',
        class: ''
      },
      {
        src: '../assets/img/gallery/main1.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/main1_tn.jpg',
        alt: 'Sai and Zombie in red masks',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/ny.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/ny_tn.jpg',
        alt: 'New Year',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/sigil.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/sigil_tn.jpg',
        alt: 'red sigil',
        class: ''
      },
      {
        src: '../assets/img/gallery/r.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/r_tn.jpg',
        alt: 'Ritual picture',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/w.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/w_tn.jpg',
        alt: 'Warzone picture',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/Povyazki.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/Povyazki_tn.jpg',
        alt: 'closed eyes',
        class: ''
      },
      {
        src: '../assets/img/gallery/redS.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/redS_tn.jpg',
        alt: 'Devil',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/SaiMain.png',
        srcThumb: '../assets/img/gallery/thumbnails/SaiMain_tn.jpg',
        alt: 'Sai Main',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/Vlad1.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/Vlad1_tn.jpg',
        alt: 'Vladyslav Zombie',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/z2.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/z2_tn.jpg',
        alt: 'Zombie Main',
        class: ''
      },
      {
        src: '../assets/img/gallery/warzone.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/warzone_tn.jpg',
        alt: 'frame from warzone clip',
        class: 'gallery__block--v'
      },
      {
        src: '../assets/img/gallery/zR2.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/zR2_tn.jpg',
        alt: 'Zombie',
        class: ''
      },
      {
        src: '../assets/img/gallery/zR.jpg',
        srcThumb: '../assets/img/gallery/thumbnails/zR_tn.jpg',
        alt: 'Zombie scream',
        class: ''
      },
    ]
block content
  div(class='gallery')
    div(class='gallery__container')
      h1(class='gallery__title') gallery
      div(class='gallery__content')
        for block in gallery
          div(class=['gallery__block'] class=block.class)
            div(class='gallery__img-wrapper')
              img(class='gallery__img lazy blur' src=block.srcThumb data-src=block.src alt=block.alt)
