header(class='header')
  div(class='header__desktop')
    div(class='header-mobile-btn wrapper-menu')
      div(class='header-mobile-btn__line half start')
      div(class='header-mobile-btn__line')
      div(class='header-mobile-btn__line half end')
    include ../logo/logo
    include ../logo/mini-logo
    include ../nav/nav
    include ../player/mini-player
  div(class='header__mobile-menu')
    include ../nav/nav
    div(class='header__mobile-social')
      include ../social/social
      include ../listen/listen
