div(class='copyright')
  p(class='copyright__text')
    | © 2020. All rights reserved. The Death Ritual. Developed by 
    a(class='copyright__link' title='Sai Osore' target='_blank' href='https://saiosore.github.io') Sai Osore
    | .