nav(class='nav')
  ul(class='nav__list')
    li(class='nav__item')
      a(class='nav__link' title='albums' href='/albums.html') Music
    li(class='nav__item')
      a(class='nav__link' title='videos' href='/videos.html') Videos
    li(class='nav__item')
      a(class='nav__link' title='gallery' href='/gallery.html') Gallery
    li(class='nav__item')
      a(class='nav__link' title='about' href='/about.html') About
    li(class='nav__item')
      a(class='nav__link' title='merch' target='_blanc' href='https://www.facebook.com/pg/thedeathritual/shop/') Merch
    li(class='nav__item')
      a(class='nav__link' title='contacts' href='/contacts.html') Contacts