.contacts {
  @extend .page;
  padding: 0;
  &__container {
    @extend .page__container;
  }
  &__main {
    margin-bottom: 50px;
  }
  &__title {
    @extend .title;
    margin-bottom: 10px;
  }
  &__offer {
    font-family: 'Digital-7';
    font-size: 2rem;
    @include tabletL {
      font-size: 1rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-title {
    margin-bottom: 10px;
  }
  &__email {
    color: $accent;
    font-size: 2rem;
    font-family: 'Digital-7';
    &:hover {
      opacity: .4;
    }
    @include tablet {
      font-size: 1.2rem;
    }
    @include mobileL {
      font-size: $l2;
    }
  }
}