div(class='social social--left')
  button(class='social__button' type='button')
    span(class='social__icon')
    span() S
    span() o
    span() c
    span() i
    span() a
    span() l
  div(class='social__links social__links--left')
    a(class='social__link' href='https://www.instagram.com/thedeathritual/' target='_blank') instagram
    a(class='social__link' href='https://www.facebook.com/thedeathritual' target='_blank') facebook