.albums {
  @extend .page;
  &__container {
    @extend .page__container;
  }
  &__title {
    @extend .title;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    grid-gap: 20px;
  }
}

.album {
  position: relative;
  display: block;
  padding: 20px;
  &:hover &__title {
    color: $accent;
  }
  &:hover &__date {
    color: $main;
  }
  &:hover &__img-wrapper {
    box-shadow: $shadow-down;
  }
  &__img-wrapper {
    margin-bottom: 15px;
  }
  &__img {
    display: block;
    max-width: 100%;
  }
  &__descr {
    color: $white;
  }
  &__title {
    margin-bottom: 10px;
    transition: color .2s;
  }
  &__date {
    font-family: 'Digital-7';
    transition: color .2s;
  }
}