.nav {
  @include tabletL {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $main;
    padding-bottom: 10px;
  }
  &__list {
    display: flex;
    @include tabletL {
      flex-direction: column;
    }
  }
  &__item {
    margin-right: 2em;
    &:last-child {
      margin-right: 0;
    }
    @include tabletL {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    position: relative;
    font-size: 1.2rem;
    letter-spacing: .3em;
    color: $second;
    @extend .line-hover;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 0;
    //   height: 10px;
    //   background-color: $active;
    //   transition: .4s;
    //   z-index: -1;
    // }
    // &:hover:before {
    //   width: 100%;
    //   left: 0;
    // }
    @include laptopL {
      font-size: 1rem;
    }
    @include tabletL {
      font-size: 1.3rem;
    }
  }
}