div(class='popup-download' style='visibility: visible; opacity: 1;')
  span
    | Download EP
    br
    | &#x9;&quot;The Death Ritual&quot;?
  a(class='popup-download__yes' href='/assets/music/TheDeathRitual.rar' download='The Death Ritual')
    | Yes
  button(class='popup-download__close')
    | &times
